* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1f2937;
    padding-top: 10px;
}

#logo img {
    width: 100px;
}

.links {
    display: flex;
    gap: 2em;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    align-self: flex-start;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

#section-one {
    display: flex;
    justify-content: center;
    gap: 6em;
    background-color: #1f2937;
    padding-bottom: 100px;
    padding-top: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    gap: 1em;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    }
    
    .hero p {
        color: #e5e7eb;
        font-size: 18px;
    }
    
    .hero-img {
        width: 500px;
        padding-right: 2em;
    }
    
    .hero-button {
    background-color: #3882f6;
    align-self: flex-start;
    border-radius: 10px;
    padding: 5px 10px;
    color: #f9faf8;
    }
    
#section-two {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 50px 150px;
}

#section-two h2 {
    align-self: center;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.img {
    width: 250px;
}

.subtext {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.subtext p {
    text-align: center;
    max-width: 250px;
}

#section-three {
    display: flex;
    justify-content: center;
    padding: 5em;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    gap: 1em;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote h4 {
    align-self: flex-end;
}

#section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contact-box {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 25px;
    width: 300px;
    border-radius: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
}
